// aurora-type :: Defaults

body {
  background-color: $ae-base-background;
  color: $ae-base-color;
  font-family: $ae-font-family;
  font-size: $ae-base-font-size;
  line-height: $ae-base-line-height;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  font-family: $ae-h-font-family;
  font-weight: $ae-h-font-weight;
  line-height: $ae-h-line-height;
  margin: 0 0 $ae-h-margin-bottom;
}

p {
  margin-bottom: $ae-base-margin-bottom;
  margin-top: 0;
}

h1 { font-size: $ae-h1; }
h2 { font-size: $ae-h2; }
h3 { font-size: $ae-h3; }
h4 { font-size: $ae-h4; }
h5 { font-size: $ae-h5; }
h6 { font-size: $ae-h6; }

a {
  color: $ae-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

em {
  color: $ae-em-color;
}

b,
strong {
  font-weight: 700;
}

hr {
  border: 0;
  border-top: $ae-hr-border-width solid $ae-hr-border-color;
  margin: 1rem 0;
}

small { 
  font-size: 80%; 
}

mark,
ins { 
  background-color: $ae-mark-color;
  padding: .1em .2em;
}

q {
  font-style: italic; 
}

abbr[title] {
  border-bottom: 1px dotted;
}

dfn {
  font-style: italic;
}

blockquote {
  border-left: $blockquote-border-width solid $blockquote-border-color;
  padding-left: $blockquote-padding;
}

code,
kbd,
pre,
samp {
  font-family: $ae-font-mono;
}

code {
  color: $ae-code-color;
  font-size: 75%;
  padding: .2rem .4rem;
  background-color: $ae-pre-background;
}

pre {
  background-color: $ae-pre-background;
  font-size: 75%;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  padding: .75rem 1rem;
  
  code {
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    padding: 0;
  }
}
