// aurora-type :: Elements

/// Sizes
.#{$ae}-alfa { font-size: $ae-alfa; }
.#{$ae}-beta { font-size: $ae-beta; }
.#{$ae}-gamma { font-size: $ae-gamma; }
.#{$ae}-delta { font-size: $ae-delta; }
.#{$ae}-epsilon { font-size: $ae-epsilon; }
.#{$ae}-zeta { font-size: $ae-zeta; }
.#{$ae}-eta { font-size: $ae-eta; }
.#{$ae}-theta { font-size: $ae-theta; }
.#{$ae}-iota { font-size: $ae-iota; }
.#{$ae}-kappa { font-size: $ae-kappa; }
.#{$ae}-lambda { font-size: $ae-lambda; }
.#{$ae}-mi { font-size: $ae-mi; }
.#{$ae}-ni { font-size: $ae-ni; }
